<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Your Favorite Recipes</h1>
    <p>Here are your favorite recipes. You can always come back to them!</p>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            Spaghetti Bolognese
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            Chicken Alfredo
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            Caesar Salad
        </a>
    </div>
</div>
</body>
</html>
